<div class="container-lg">
  <h1 class="display-5" style="padding: 1rem 0">{{ landmark.title }}</h1>

  <div class="card mb-3" style="max-width: 100%">
    <div class="row g-0">
      <div class="col-md-2">
        <img
          src="{{ landmark?.photo_thumb?.url }}"
          class="img-fluid rounded-start thumb"
          data-bs-toggle="modal"
          data-bs-target="#landmarkPhotoModal"
          title="Click to open full image"
        />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h4 class="card-title">{{ landmark.title }}</h4>
          <p class="card-text">{{ landmark.short_info }}</p>
          <h5 class="card-title">Description</h5>

          <p class="card-text">
            {{ landmark.description }}
          </p>

          <button
            type="button"
            class="btn btn-outline-success and-all-other-classes"
            data-toggle="tooltip"
            data-placement="top"
            title="{{ landmark.url }}"
          >
            <a href="{{ landmark.url }}" target="_blank" style="color: inherit">
              Official Website
            </a>
          </button>

          <!-- <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="map">
    <google-map
      height="500px"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="addMarker($event)"
    >
      <map-marker
        [position]="landmarkMarker"
        [options]="markerOptions"
      ></map-marker>
    </google-map>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="landmarkPhotoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="landmarkPhotoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="landmarkPhotoModalLabel">
          {{ landmark.title }} - Full Image
        </h5>
      </div>
      <div class="modal-body">
        <img
          src="{{ landmark?.photo?.url }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
