<div class="container-lg landmark-list">
  <h1 class="display-5" style="padding: 1rem 0">Dubai's Landmarks</h1>
  <ul class="row itemsBlock">
    <li *ngFor="let landmark of landmarkList" class="col-md-12 col-lg-6 col-12">
      <div class="card mb-3" style="max-width: 960px">
        <div class="row g-0">
          <div class="col-sm-4">
            <img
              src="{{ landmark?.photo_thumb?.url }}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-sm-8">
            <div class="card-body">
              <h5 class="card-title">
                <a
                  routerLinkActive="active"
                  [routerLink]="['/landmark', landmark.objectId]"
                  >{{ landmark.title }}</a
                >
              </h5>
              <p class="card-text">
                {{ landmark.short_info }}
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
